/*** SMARTPHONES ***/

@media screen and (max-height: 823px) and (orientation: portrait) {
    html {
        font-size: 1vw;
    }
}

@media screen and (max-width: 823px) and (orientation: landscape) {
    html {
        font-size: 1vh;
    }
}

/*** TABLETS ***/

@media screen and (min-height: 824px) and (max-height: 1024px) and (orientation: portrait) {
    html {
        font-size: 0.9vw;
    }
}

@media screen and (min-width: 824px) and  (max-width: 1024px) and (orientation: landscape) {
    html {
        font-size: 0.9vh;
    }
}

@media screen and (min-height: 1025px) and (max-height: 1366px) and (orientation: portrait) {
    html {
        font-size: 0.85vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
    html {
        font-size: 0.85vh;
    }
}

/*** PHONES WITH 3:2 DISPLAY RATIO ***/

@media screen and (aspect-ratio: 2/3) {
    html {
        font-size: 0.9vw;
    }
}

@media screen and (aspect-ratio: 3/2) {
    html {
        font-size: 0.9vh;
    }
}

/*** over 1859px ***/

@media screen and (min-width: 1859px) {
    section {
        -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
    }
}

/*** different screens ***/

@media screen and (min-width: 1440px) and (max-height: 900px) {
    html {
        font-size: 0.9vh;
    }
}